[Unit]
Description=VLC RFC Radio Player
After=network.target

[Service]
WorkingDirectory=%h/.local/share/vlc-radio
ExecStart=/usr/bin/cvlc -vv %h/.local/share/vlc-radio/RadioStreams.xspf
Restart=on-failure
StartLimitBurst=6
RestartSec=10
TimeoutStopSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vlc-radio

[Install]
WantedBy=default.target
